bin/
boot/
dev/
etc
etc/.pwd.lock
etc/Muttrc
etc/Muttrc.d/
etc/X11/
etc/acpi/
etc/adduser.conf
etc/adjtime
etc/aliases
etc/alternatives/
etc/apt/
etc/at.deny
etc/bash.bashrc
etc/bash_completion
etc/bash_completion.d/
etc/bindresvport.blacklist
etc/ca-certificates.conf
etc/calendar/
etc/console-setup/
etc/cron.d/
etc/cron.daily/
etc/cron.hourly/
etc/cron.monthly/
etc/cron.weekly/
etc/crontab
etc/dbus-1/
etc/debconf.conf
etc/debian_version
etc/default/
etc/deluser.conf
etc/dhcp/
etc/dictionaries-common/
etc/discover-modprobe.conf
etc/discover.conf.d/
etc/dnsmasq.conf
etc/dnsmasq.d/
etc/dpkg/
etc/emacs/
etc/email-addresses
etc/environment
etc/exim4/
etc/fonts/
etc/fstab
etc/gai.conf
etc/groff/
etc/group
etc/group-
etc/grub.d/
etc/gshadow
etc/gshadow-
etc/gss/
etc/gtk-2.0/
etc/host.conf
etc/hostname
etc/hosts
etc/hosts.allow
etc/hosts.deny
etc/idmapd.conf
etc/init.d/
etc/init/
etc/initramfs-tools/
etc/inputrc
etc/insserv.conf
etc/insserv.conf.d/
etc/iproute2/
etc/ipvsadm.rules
etc/iscsi/
etc/issue
etc/issue.net
etc/kbd/
etc/kernel-img.conf
etc/kernel/
etc/ld.so.cache
etc/ld.so.conf
etc/ld.so.conf.d/
etc/ldap/
etc/libaudit.conf
etc/libnl-3/
etc/locale.alias
etc/locale.gen
etc/localtime
etc/logcheck/
etc/login.defs
etc/logrotate.conf
etc/logrotate.d/
etc/machine-id
etc/magic
etc/magic.mime
etc/mail.rc
etc/mailcap
etc/mailcap.order
etc/mailname
etc/manpath.config
etc/mime.types
etc/mke2fs.conf
etc/modprobe.d/
etc/modules
etc/modules-load.d/
etc/motd
etc/mtab
etc/nanorc
etc/netconfig
etc/network/
etc/networks
etc/newt/
etc/nsswitch.conf
etc/opensc/
etc/openvpn/
etc/os-release
etc/pam.conf
etc/pam.d/
etc/papersize
etc/passwd
etc/passwd-
etc/perl/
etc/ppp/
etc/profile
etc/profile.d/
etc/protocols
etc/python/
etc/python2.7/
etc/rc.local
etc/rc0.d/
etc/rc1.d/
etc/rc2.d/
etc/rc3.d/
etc/rc4.d/
etc/rc5.d/
etc/rc6.d/
etc/rcS.d/
etc/reportbug.conf
etc/request-key.d/
etc/resolv.conf
etc/resolvconf/
etc/rmt
etc/rpc
etc/rsyslog.conf
etc/securetty
etc/security/
etc/selinux/
etc/sensors.d/
etc/sensors3.conf
etc/services
etc/sgml/
etc/shadow
etc/shadow-
etc/shells
etc/skel/
etc/smi.conf
etc/ssh/
etc/ssl/
etc/staff-group-for-usr-local
etc/subgid
etc/subgid-
etc/subuid
etc/subuid-
etc/sudoers
etc/sudoers.d/
etc/sysctl.conf
etc/sysctl.d/
etc/systemd/
etc/terminfo/
etc/texmf/
etc/timezone
etc/ucf.conf
etc/udev/
etc/ufw/
etc/updatedb.conf
etc/vim/
etc/w3m/
etc/wgetrc
etc/wireshark/
etc/xdg/
etc/xml/
home/
initrd.img
lib/
lib64/
media/
proc/
root/
run/
sbin/
storage/
sys/
usr/
var/
vmlinuz
initrd.img.old
vmlinuz.old
*.log
